<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* body{ */
            /* background-color: aquamarine; */
        /* } */
        .box{
            margin: 20px;
            padding: 20px;
        }
        .contentText{
            /* background-color: aqua; */
            height: 100vh;
            width: 60vw;
            margin: auto;
            font-size: large;
        }

        .photo{
            display: flex;
            justify-content: center; 
        }

        img{
             width: 50vw;
            height: 60vh;
        }
        h1{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    
   <div class="photo"><img src="/<%= blog.Image %>" alt=""></div>
    <h1><%= blog.Title %></h1>
<!-- <div>
  <%= blog.Excerpt %>
</div> -->
<div class="contentText"><p><%= blog.Content %></p></div>




</body>
</html>





